.plan-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 200px;
    font-family: "Dzeragir", sans-serif;
    font-size: 20px;
    font-weight: 200;
    & > img {
      width: 176px;
      height: 176px;
    }
    &:nth-child(2) {
      margin-right: 256px;
    }
    &:nth-child(3) {
      margin-left: 256px;
    }
    &:nth-child(4) {
      margin-right: 256px;
    }
    &:nth-child(5) {
      margin-left: 256px;
    }
  }
  &::before {
    content: "";
    height: 80%;
    position: absolute;
    border: 2px solid black;
    width: 2px;
  }
}
