:root {
  --color: white;
}

.footer {
  width: 100%;
  background-color: black;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 80px;
  flex-direction: column;

  &-logo {
    width: 240px;
  }

  &-title {
    font-family: "Freesans";
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 9px;
    text-align: center;
    color: var(--color);
  }

  &-cont {
    display: flex;
    justify-content: center;
    align-items: center;

    &-logo {
      width: 70px;
    }

    &-title {
      font-size: 20px;
      font-family: sans-serif;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4px;
      text-align: center;
      color: var(--color);
    }
  }

  &-text {
    font-family: "Freesans";
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 18px;
    text-transform: capitalize;
    text-align: center;
    line-height: 1.7;
    color: var(--color);
  }

  &-email {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    text-align: center;
    line-height: 2;
    color: var(--color);
  }
}
