*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
dl {
  list-style: none;
}

@font-face {
  font-family: "Dzeragir";
  src: url("./Fonts/fonts/fonter.am_shk-dzeragir/SHK_Dzeragir.otf");
}

@font-face {
  font-family: "Vrdzagir";
  src: url("./Fonts/fonts/fonter.am_vrdznagir/Vrdznagir.otf");
}
